.keys/
TODO.md

# ansible
.directory
.plugin-cache.yaml

hosts
hosts.ini
hosts.yml

# antsibull-changelog
.plugin-cache.yaml

# python
__init__.py
__pycache__
.venv
.pytest_cache
.pdm-python
poetry.lock
pdm.lock

# pytest
/conftest.py
