[Unit]
Description=Create local reverse proxy based on $HOME/.ergo file.

[Service]
Type=forking
Environment="ERGO_DOMAIN=.test"
ExecStart=/bin/bash -c 'ergo run -config ~/.ergo'

[Install]
WantedBy=default.target
