[Unit]
Description=Create local reverse proxy based on $HOME/.ergo file.

[Service]
Type=forking
ExecStart=/bin/bash -c 'ERGO_DOMAIN=.test ; ergo run'

[Install]
WantedBy=default.target
